@value journal-main-height from '../../common/size.css';
@value journal-grey, journal-dark-green from '../../common/colors.css';

.listContainerFull {
  width: 100%;
  height: journal-main-height;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow-y: scroll;
}

.listContainerHalf {
  background-color: white;
  border-bottom-left-radius: 10px;
  width: 50%;
  overflow-y: scroll;
}

.rightSection {
  width: 50%;
  height: 100%;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.journalCard {
  width: 10em;
  height: 12em;
  list-style: none;
  border-radius: 10px;
  box-shadow: 4px 9px 18px 0px rgba(0, 0, 0, 0.2);
  margin: 1em;
  padding: 0.5em;
}

.journalCard:hover {
  position: relative;
  top: -15px;
  cursor: pointer;
}

.editBtn {
  position: sticky;
  float: right;
  right: 0;
  width: 70px;
  height: 70px;
  background-color: journal-dark-green;
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  color: white;
  margin: 1em;
}

.editBtn:hover {
  cursor: pointer;
  opacity: 70%;
}
