section {
  overflow-y: scroll;
}

.viewClose {
  display: none;
}

.viewOpen {
  width: 50%;
  background-color: white;
}

.closeIcon {
  float: right;
  font-size: 1.5em;
}

.closeIcon:hover {
  cursor: pointer;
  opacity: 40%;
}

.deleteIcon {
  font-size: 1.5em;
}

.deleteIcon:hover {
  cursor: pointer;
}

.image {
  margin-top: 3em;
}
