@value journal-alert-red from '../../common/colors.css';

.modalWindow {
  position: absolute;
  top: 300px;
  text-align: center;
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 15px;
  animation-name: showUp;
  animation-duration: 300ms;
  box-shadow: 4px 2px 11px 1px rgba(0, 0, 0, 0.17);
}

@keyframes showUp {
  0% {
    top: 400px;
  }

  100% {
    top: 300px;
  }
}

.modalTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  height: 60px;
  margin: 0;
  color: white;
  background-color: journal-alert-red;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.modalWindow p {
  text-align: center;
  height: 45px;
  font-size: 17px;
}

.modalBtn {
  outline: none;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: journal-alert-red;
  padding: 10px 15px;
  margin-right: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.modalBtnContainer {
  text-align: center;
  padding: 10px 15px 10px 15px;
}

.modalBtn:hover {
  cursor: pointer;
  opacity: 70%;
}

.message {
  white-space: pre-line;
}
