@value journal-grey from '../../common/colors.css';

input {
  border: none;
  background-color: transparent;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.editorContainerOpen {
  width: 50%;
  background-color: white;
  border-bottom-right-radius: 10px;
}

.editorContainerClose {
  animation-name: widthAnimation;
  animation-duration: 2s;
  background-color: antiquewhite;
  border-bottom-right-radius: 10px;
  display: none;
}

.eomtions {
  width: 50px;
  border: none;
  background-color: transparent;
}

@keyframes widthAnimation {
  0% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}
