@value journal-main-green,journal-dark-green from '../../common/colors.css';

.headerContainer {
  padding-left: 2em;
  padding-right: 2em;
  background-color: journal-main-green;
  /* display: flex;
  justify-content: center; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
}

.title {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.btnLogout {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 40px;
  color: white;
  transition: color 150ms ease-in-out;
  float: right;
}

.btnLogout:hover {
  cursor: pointer;
  color: journal-dark-green;
}
