@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&display=swap');
@value journal-main-green, journal-grey, journal-background-grey from '../../common/colors.css';

* {
  box-sizing: border-box;
}
body {
  background-color: journal-background-grey;
  font-family: 'Noto Sans KR', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

.container {
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3em;
}

.sectionLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-align: left;
  line-height: 1.5em;
  color: white;
  font-size: 4em;
  background-color: journal-main-green;
  width: 40%;
  height: 75vh;
  padding: 0.5em;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.sectionRight {
  width: 60%;
  height: 75vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.5em;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;
}

.signin {
  font-size: 3em;
  text-transform: uppercase;
  color: journal-grey;
  margin: 0;
}

.icon {
  font-size: 3em;
  color: journal-main-green;
  margin: 0.1em;
}

.icon:hover {
  cursor: pointer;
  opacity: 70%;
}

.inputEmail,
.inputPwd {
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  height: 3em;
  width: 20em;
  background-color: #edefef;
  padding-left: 1em;
  margin: 0.2em;
}

.signinBtn {
  border: none;
  text-transform: uppercase;
  color: white;
  background-color: journal-main-green;
  border-radius: 80px;
  font-weight: 400;
  font-size: 1em;
  padding: 1em;
  margin-top: 2em;
}

.signinBtn:hover {
  cursor: pointer;
  opacity: 70%;
}
